﻿@{
    ViewData["Title"] = "About";
}
<br />
<br />

<h4>Upload and read your Excel file here</h4>


<hr />

<div>
    <form asp-action="InsertFromExcel" method="post" enctype="multipart/form-data">
       <div class="form-group">
           <label class="control-label">Upload Excel File:</label>
           <input type="file" class="" name="theExcel"/><br />
       </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                     <input type="submit" value="Upload Data" class="btn btn-primary"/>
                </div>
            </div>
        </div>
    </form>
</div>
<br />
<br />
<b>Read your Excel file here:</b>
<form method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-4">
            <input type="file" id="fUpload" name="files" class="form-control" />
        </div>
        <div class="col-md-8">
            <input type="button" id="btnUpload" value="Upload" class="btn btn-info"/>
        </div>
    </div>
    
    <br />
    <div id="dvData"></div>
</form>

@section Scripts{
    <script>
        $(document).ready(function () {
    $('#btnUpload').on('click', function () {
        var fileExtension = ['xls', 'xlsx'];
        var filename = $('#fUpload').val();
        if (filename.length == 0) {
            alert("Please select a file.");
            return false;
        }
        else {
            var extension = filename.replace(/^.*\./, '');
            if ($.inArray(extension, fileExtension) == -1) {
                alert("Please select only excel files.");
                return false;
            }
        }
        var fdata = new FormData();
        var fileUpload = $("#fUpload").get(0);
        var files = fileUpload.files;
        fdata.append(files[0].name, files[0]);
        $.ajax({
            type: "POST",
            url: "/Home/OnPostImport",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            data: fdata,
            contentType: false,
            processData: false,
            success: function (response) {
                if (response.length == 0)
                    alert('Some error occured while uploading');
                else {
                    $('#dvData').html(response);
                }
            },
            error: function (e) {
                $('#dvData').html(e.responseText);
            }
        });
    })
});
    </script>

}